#container-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: #00000095;
    backdrop-filter: blur(8px);
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    width: 35%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    z-index: 4;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.modal p {
    color: #00000075;
    font-size: 14px;
    margin-top: 2px;
}

.form {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border-top: 1px solid #515050;
    margin-top: 5px;
    padding: 8px;
}

.form .area {
    width: 100%;
    /* height: 50px; */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 5px;
}

.form .area label {
    color: #515050ac;
    font-size: 17px;
    margin-bottom: 3px;
}

.input {
    border: none;
    outline: none;
}

.input.type-1 {
    width: 100%;
    padding: 6px 9px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: 1s;
}

.input.type-1:hover, .input.type-1:focus {
    border: 1px solid #000;
}

select:invalid {
    color: #999;
}

select option {
    color: #000;
}

/* 
COMPONENTES 
*/

.button {
    border: none;
    outline: none;
}

.button.type-1 {
    outline: none;
    background-color: #2f81ed6c;
    border: 1px solid #2f81ed;
    padding: 5px;
    color: #FFF;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    transition: 1s;
}

.button.type-1:hover, .button.type-1:focus {
    background-color: #2f81edb0;
    border: 1px solid #2f81ed;
}

.button.type-2 {
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.button.type-3 {
    background-color: #3ebd4d;
    border: 1px solid #caffd7;
    padding: 5px;
    color: #FFF;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    transition: 1s;
    align-self: self-end;
    margin-top: 7px;
}

.button.type-3.special {
    width: 120px;
    margin-top: 0;
    align-self: normal;
}

.button.type-3:hover, .button.type-3:focus {
    background-color: #56ff6aa3;
    color: #000;
    border: 1px solid #00000096;
}

.navbar {
    background-color: #FFF;
    position: fixed;
    width: 20%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    border-right: 1px solid #7e7e7e71;
    justify-content: space-between;
}

.navbar .user-greeting {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-photo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid #7e7e7e71;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.user-photo:focus, .user-photo:hover {
    background-color: #DDD;
    border: 1px solid #FFF;
}

.container-href {
    background-color: #FFF;
    border-radius: 1px;
    border: 1px solid #7e7e7e71;
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
}

a {
    text-decoration: none;
    color: #000;
    text-align: justify;
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 4px;
    border-bottom: 1px solid #7e7e7e71;
    transition: 1s;
}

a:hover, a:focus {
    background-color: #DDD;
    border-bottom: 1px solid #000;
}

.container-logo {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7e7e7e71;
}

/* Estilos para o contêiner das mensagens toast */
#toast-container {
    position: fixed;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

/* Estilos para as mensagens toast */
.toast {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #F44336;
}

.warning {
    background-color: #FFC107;
}

.toast.show {
    opacity: 1;
}