#container-cards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 10px;
    padding: 5px;
}

.card {
    width: 30%;
    background-color: rgb(147, 96, 195);
    border-radius: 8px 0 8px 0;
    margin-bottom: 5px;
    text-align: justify;
    padding: 5px;
}