body {
    background-color: rgb(255, 225, 180);
}

.title-area {
    width: 100%;
    /* height: 50px; */
    /* background-color: red; */
}

.actions {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.actions .event, .enrollment {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 1px solid #7e7e7e;
}

.actions .event div {
    width: 100%;
}

.actions .enrollment {
    flex-flow: column wrap;
}

.main-content {
    /* background-color: red;
    height: 100%; */
    position: absolute;
    width: 80%;
    right: 0;
    top: 0;
    padding: 10px;
}
.main-content button.type-1 {
    width: 100px;
}

.content {
    width: 100%;
}

.content.type-1 {
    width: 100%;
    background-color: #fff;
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.content .section {
    width: 30%;
    background-color: #FFF;
    border: 1px solid #544b4b6a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#event-info{
    margin-bottom: 20px;
    border-top: 1px solid #515050;
}

#event-state{
    color: #f00;
    font-size: 15px;
}