*{
    font-family: "Monaco", monospace;
}
body {
    background-color: rgb(255, 225, 180);
}

#container-modal, #container-modal-type-1 {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: #00000095;
    backdrop-filter: blur(8px);
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    width: 35%;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    z-index: 4;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.modal p {
    color: #00000075;
    font-size: 14px;
    margin-top: 2px;
}

.form {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border-top: 1px solid #515050;
    margin-top: 5px;
    padding: 8px;
}

.form .area {
    width: 100%;
    height: x; 
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 5px;
}

.form .area label {
    color: #515050ac;
    font-size: 17px;
    margin-bottom: 3px;
}

.input {
    border: none;
    outline: none;
}

.input.type-1 {
    width: 100%;
    padding: 6px 9px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: 1s;
}

.input.type-1:hover, .input.type-1:focus {
    border: 1px solid #000;
}

select:invalid {
    color: #999;
}

select option {
    color: #000;
}

/* 
COMPONENTES 
*/

.button {
    border: none;
    outline: none;
}

.button.type-1 {
    outline: none;
    background-color: rgba(50, 139, 255, 0.726);
    border: 1px solid rgb(0, 37, 85);
    padding: 5px;
    color: #FFF;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    transition: 1s;
}

.button.type-1:hover, .button.type-1:focus {
    color: #000;
    background-color: #38ebf8;
}

.button.type-2 {
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.button.type-3 {
    background-color: #3ebd4d;
    border: 1px solid #caffd7;
    padding: 5px;
    color: #FFF;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    width: auto;
    transition: 1s;
    align-self: self-end;
    margin-top: 7px;
}

.button.type-3.special {
    width: 120px;
    margin-top: 0;
    align-self: normal;
}

.button.type-3:hover, .button.type-3:focus {
    background-color: #56ff6aa3;
    color: #000;
    border: 1px solid #00000096;
}

.button.table {
    border-radius: 8px;
    padding: 5px;
    transition: 1s;
}

.button.eye {
    border: 1px solid #768118;
    background-color: #fbfd5c65;
    color: #768118;
}.button.eye:hover, .button.eye:focus {
    border: 1px solid #000;
    color: #000;
}

.button.approved {
    border: 1px solid #113b65;
    background-color: #718bff65;
    color: #113b65;
}.button.approved:hover, .button.approved:focus {
    border: 1px solid #000;
    color: #000;
}

.button.denied {
    border: 1px solid #9f1010;
    background-color: #ff282865;
    color: #9f1010;
}.button.denied:hover, .button.denied:focus {
    border: 1px solid #000;
    color: #000;
}

.navbar {
    /* background-color: rgb(155, 137, 255); */
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    border-right: 1px solid #3e00a171;
    justify-content: space-between;
}

.navbar .user-greeting {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-photo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid #2b00ffcc;
    background-color: #ebd3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.user-photo:focus, .user-photo:hover {
    background-color: #ffffff;
    border: 1px solid #3700ff;
}

.container-logo{
    height: 50px;
}

.container-logo img{
    height: 100%;
}

.container-href {
    border-radius: 1px;
    justify-content: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
}

a {
    text-decoration: none;
    color: #000;
    text-align: justify;
    width: 100%;
    margin-bottom: 50px;
    height: 40px;
    font-size: 20px;
    padding: 4px;
    background-color: #a692ffcb;
    border: 1px solid #5933ff83;
    transition: 1s;
}

a.special {
    width: 20%;
    height: 20px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    border-radius: 15px;
    background-color: #3ebd4d;
    color: #DDD;
    border: 1px solid #caffd7;
    align-self: flex-end;
}

a.special:hover, .special:focus {
    background-color: #56ff6aa3;
    color: #000;
    border: 1px solid #00000096;
}

a:hover, a:focus {
    background-color: #fff;
    border: 1px solid #000;
}

#container-logo img{
    height: 40px;
}

#toast-container {
    position: fixed;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.toast {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #F44336;
}

.warning {
    background-color: #FFC107;
}

.toast.show {
    opacity: 1;
}

/* Table design */

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

th, td {
    padding: 8px;
    text-align: justify;
}

thead {
    background-color: rgb(255, 192, 98);
    height: 55px;
}

tbody {
    background-color: rgb(255, 210, 143);
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #6145ffff ;
    color: #FFF;
}

.pagination {
    background-color: #dddddd2d;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    padding: 2px;
}

.pagination button {
    border: 1px solid rgb(255, 163, 24);
    background: rgb(255, 212, 149);
    padding: 5px;
    margin: 1px;
    height: 23px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.pagination button.active {
    background-color: rgb(185, 111, 0);
    color: #FFF;
}

.pagination button:hover, .pagination button:focus {
    background-color: rgb(185, 111, 0);
    color: #FFF;
}

#ifinfo {
    font-size: 20px;
}

form{
    background-color: rgb(240, 237, 255);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
}

form button{
    margin-top: 10px;
    padding: 5px;
}