* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#section {
    position: relative;
    height: 700px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#creation-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("/sarau-web/assets/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.8;
    z-index: 0;
}

#primary {
    background-color: #825be36a;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 0.5s;
    /* border-radius: 5px; */
}

#primary:hover {
    background-color: #7e65bb8a;
}

#second {
    position: relative;
    font-size: 30px;
    justify-content: center;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.main-content {
    /* background-color: red; */
    height: 100%; 
    width: 80%; 
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.content {
    width: 100%;
}

.content.type-1 {
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content #container-imgs {
    padding: 10px;
    width: 45%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #d2717ca2; */
    border-radius: 2px;
}

.content #description {
    padding: 10px;
    width: 40%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #6595d5;
    border-radius: 0px 10px 10px 0px;
}

#model {
    width: 95%;
    height: 200px;
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
    transition: opacity .5s ease;
}

.fade { 
    opacity: 0;
}